/* commentaires 

on peut appeler des classes en écrivant leur nom en tant que balise
pour appeler un id le faire précéder de #
pour appeler toutes les balises : *

h1 em : selectionne toutes les balises em contenues dans h1
h2 + p : selectionne le premier p après les h2

a[title] : tous les a (liens) qui ont un attribut title (infobulle)
a[title="nom"] : contiennent le mot nom exactement
a[title*="nom"] : continent le mot nom 

font-family: police1, police2, police3, police4; //conseillé d'indiquer 3/4 polices pour être sûr qu'une fonctionne

font-style : italic/oblique/normal;
font-weight : bold/normal; mettre en gras
text-decoration : underline/line-through/overligne/blink/none;
text-align : left/right/center/justify; ne fonctionne que sur des balises de type bloc ! p, div, h

faire flotter une image :
.nomimage
{
float : right/left;
}


pour arrêter le flottant :
.nombalisetexte
{
clear : left/right/both;
}

couleurs : méthode RGB ou méthode héxadécimale
https://www.webpagefx.com/web-design/color-picker/00b035

*/

h1
{
  color: #429114;
  font-size: 2.5em;
  text-align: center;
  margin-top: 10px;
  font-family: 'Julius Sans One', sans-serif;
}

h2
{
  color: #FA7116;
  font-size: 2em;
  margin-left: 30px;
  margin-right: 30px;
  font-family: 'Julius Sans One', sans-serif;
}

h3
{
  font-family: 'Julius Sans One', sans-serif;
  font-size: 20px;
}

h4
{
  font-family: 'Overlock', cursive;
  font-size: 1em;
}

p
{
    color: black;
    font-size: 1em;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Overlock', cursive;
}

.titleproduct
{
  font-family: 'Overlock', cursive;
}

.pains, .legumes 
{
  float:left;
}

.weekorder
{
  border-bottom: grey outset;
}

body
{
  background-color: #EEEEEE;
}